.cat{
    margin-top: 10%;
    margin-bottom: 10%;
}
.card{
    margin-left: 25%;
    margin-right: 25%;
}
.col{
    margin-top: 100%;

}
.row .col .card .img{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}
