{% extends 'base.html' %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Logs</h1>
    </div>
    <h1 class="h2">Comptes</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Action</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{% print(log[0]) %}</td>
                        <td>{% print(log[1]) %}</td>
                        <td>{% print(log[2]) %}</td>
                        <td>{% print(log[3]) %}</td>
                    </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>

</main>

{% endblock %}