{% extends 'base.html' %}
{% block content %}
    
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Personne</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#accesUser">Give acces</button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUser" data-bs-whatever="@mdo">New Utilisateur</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delUser">Delet Utilisateur</button>
                        </div>
                    </div>
                </div>
                <h1 class="h2">Utilisateur</h1>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rowsUser in rowsUsers %}
                                <tr>
                                    <td>{% print(rowsUser[0]) %}</td>
                                    <td>{% print(rowsUser[1]) %}</td>
                                    <td>{% print(rowsUser[2]) %}</td>
                                    <td>{% print(rowsUser[3]) %}</td>
                                </tr>
                            {% endfor %}
                    </tbody>
                    </table>
                </div>
                

                <div class="modal fade" id="accesUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <form action="" method="post">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Acces user</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                              <label for="giveAccesUser" class="col-form-label">Select user</label>
                              <select name="giveAccesUser" id="giveAccesUser" class="form-select">
                                    <option selected>Select User</option>
                                    {% for rowsUser in rowsUsers %}
                                        <option value="{{ rowsUser[0] }}">{% print(rowsUser[1]+" "+rowsUser[3]) %}</option>
                                    {% endfor %}
                              </select>
                            </div>
                            <div class="mb-3">
                              <label for="idCompte" class="col-form-label">Select compte</label>
                              <select name="idCompte" id="compte" class="form-select">
                                  <option selected> selecte comtpe</option>
                                {% for compte in comptes %}
                                    <option value="{{ compte[0] }}">{% print(compte[1]+" "+compte[2]) %}</option>
                                {% endfor %}
                              </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" name="giveAcces" class="btn btn-danger">Give accès to user</button>
                        </div>
                      </div>
                    </form>
                    </div>
                </div>

                <div class="modal fade" id="delUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <form method="POST">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delet user</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <select name="idUserDel" id="idUserDel" class="form-select">
                            <option selected>Select User</option>
                            {% for rowsUser in rowsUsers %}
                                <option value="{{ rowsUser[0] }}">{% print(rowsUser[1]+" "+rowsUser[3]) %}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" name="delUser" class="btn btn-danger">delet user</button>
                        </div>
                      </div>
                      </form>
                    </div>
                  </div>
  


                <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Utilisateur</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST">
                    <div class="modal-body">
                        
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Username:</label>
                            <input type="text" name="username" class="form-control" id="recipient-name" required>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Nom:</label>
                            <input type="text" name="nom" class="form-control" id="recipient-name">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Prenom:</label>
                            <input type="text" name="prenom" class="form-control" id="recipient-name">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Password:</label>
                            <input type="password" name="password1" class="form-control" id="recipient-name" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Password retry:</label>
                            <input type="password" name="password2" class="form-control" id="recipient-name" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" name="addUser" class="btn btn-primary">Add User</button>
                    </div>
                    </form>
                    </div>
                </div>
                </div>


                </main>
{% endblock %}