{% extends 'base.html' %}
{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Regles</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRegles">New regles</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delRegles">Delet regles</button>
            </div>
        </div>
    </div>
    <h1 class="h2">Comptes</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>address</th>
                    <th>NoCompte</th>
                </tr>
            </thead>
            <tbody>
                {% for compte in comptes %}
                    <tr>
                        <td>{% print(compte[0]) %}</td>
                        <td>{% print(compte[1]) %}</td>
                        <td>{% print(compte[2]) %}</td>
                    </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>




    <div class="modal fade" id="delRegles" tabindex="-1" aria-labelledby="delRegles" aria-hidden="true">
        <div class="modal-dialog">
          <form method="POST">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >Delet user</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <select name="idUserDel" id="idUserDel" class="form-select">
                <option selected>Select User</option>
                {% for compte in comptes %}
                    <option value="{{ compte[0] }}">{% print(compte[1]+" "+compte[2]) %}</option>
                {% endfor %}
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" name="delRegles" class="btn btn-danger">Delet Regles</button>
            </div>
          </div>
          </form>
        </div>
      </div>



    <div class="modal fade" id="addRegles" tabindex="-1" aria-labelledby="addRegle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" >New Utilisateur</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST">
        <div class="modal-body">
            
            <div class="mb-3">
                <label for="address" class="col-form-label">Address:</label>
                <input type="text" name="address" class="form-control" id="address" required>
            </div>
            <div class="mb-3">
                <label for="noCompte" class="col-form-label">No Comptes:</label>
                <input type="text" name="noCompte" class="form-control" id="noCompte">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" name="addRegles" class="btn btn-primary">Add Comptes</button>
        </div>
        </form>
        </div>
    </div>
    </div>


{% endblock %}