{% extends 'base.html' %}
{% block content %}
    
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Upload file XML</h1>
                </div>

                <h1 class="h2">XML</h1>
                <div class="table-responsive">
                    <form action="" method=post enctype=multipart/form-data>
                        <p><input type=file name=file>
                           <input type=submit name="xmlPoste" value=Upload>
                      </form>
                </div>
{% endblock %}